DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
PAYLOAD_SECRET=YOUR_SECRET_HERE
BLOB_READ_WRITE_TOKEN=YOUR_BLOB_TOKEN_HERE
NEXT_BASE_PATH=/mandato
NEXT_PUBLIC_SITE_URL=https://jorgesolla.com.br
