@import "tailwindcss";

@theme {
  --color-candy-500: #9b87f5;

  --color-teqo-50: var(--color-white);
  --color-teqo-100: #eeeeee;
  --color-teqo-200: #d1d1d1;
  --color-teqo-300: #cdcdcd;
  --color-teqo-400: #989c9f;
  --color-teqo-500: #818181;
  --color-teqo-600: #686868;
  --color-teqo-800: #222425;
  --color-teqo-850: #1c1d1e;
  --color-teqo-900: var(--color-black);

  --color-tint: #6cb7e1;

  --animate-beam: beam 3s ease-in-out infinite;

  @keyframes beam {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@utility scrollbar-hidden {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility text-h1 {
  font-size: 1.75rem; /* 28px */
  @apply font-semibold;
}

@utility text-h4 {
  font-size: 0.9375rem; /* 15px */
  @apply font-semibold tracking-tight;
}

@layer base {
  #app {
    @apply h-dvh;
  }

  * {
    @apply box-border caret-tint;
  }

  button {
    @apply cursor-pointer;
  }

  button,
  a {
    @apply active:opacity-80 active:scale-105;
  }

  input {
    @apply outline-hidden;
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-2xl font-extrabold tracking-tighter;
  }

  h3,
  input {
    @apply text-xl font-medium;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-xs tracking-tight;
  }

  h6 {
    font-size: 0.5rem; /* 8px */
    @apply tracking-tight;
  }

  p {
    @apply text-base;
  }

  input {
    @apply outline-hidden;
  }
}
